/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.25rem;
  background-color: #f5f5f5;
}

.apurv_illustration {
  max-width: 300px;
}

img {
  max-width: 100%;
  height: auto;
}

strong {
  font-weight: 600;
}

.card {
  max-width: 45%;
  min-width: 630px;
  display: flex;
  flex-direction: row;
  border: 1px solid #ececec;
  border-radius: 16px;
  padding: 2rem 2rem 1.5rem 2rem;
  box-shadow: 0px 20px 43px 0px rgba(0, 0, 0, 0.1),
    0px 78px 78px 0px rgba(0, 0, 0, 0.09),
    0px 177px 106px 0px rgba(0, 0, 0, 0.05),
    0px 314px 126px 0px rgba(0, 0, 0, 0.01),
    0px 490px 137px 0px rgba(0, 0, 0, 0);
  background-color: #ffffff;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.675rem;
  line-height: 2.2rem;
}

p {
  margin-bottom: 1rem;
}

.apurv_illustration {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.aboutme {
  padding-right: 2rem;
}

p:last-child {
  margin-bottom: 0;
}

/* button {
  margin-top: 3.5rem;
} */

.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  margin: 48px 20px 20px 20px;
  height: 40px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 8px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.black-btn {
  background-image: linear-gradient(
    to right,
    #29323c,
    #4f575e,
    #7a8892,
    #46444d
  );

  display: flex;
  align-items: center;
  justify-content: center;
}

a.resume {
  text-decoration: none;
  color: white;
}
